<div class="row mt-4 px-5">
    <div class="col-7 d-none d-lg-block d-xl-none">
        <mdb-carousel>
            <mdb-carousel-item [interval]="5000">
                <img src="/assets/images/carousel2.jpg" class="d-block w-100" alt="..." />
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img src="/assets/images/carousel3.jpg" class="d-block w-100" alt="..." />
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img src="/assets/images/carousel4.jpg" class="d-block w-100" alt="..." />
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
    <div class="card col-lg-5 col-md-12 d-md-block" style="background-color: #fdf3f1;">
        <div class="container card-body d-flex flex-column justify-content-center text-center container-fluid">
            <h1>Bienvenu dans la boutique virtuelle du collectif <span class="fw-bold">"Lôcal Saint-Denis" </span>!</h1>
            <br>
            <h5 style="color: black;">Peintres, sérigraphes, designers, sculpteurs en bois ou en métal, créateurs de collages ou de bijoux,
                les artistes-artisans du collectif et leurs invités vous attendent dans un espace unique, pour se
                présenter
                et vous montrer leurs créations.
            </h5>
        </div>
    </div>
</div>