<div *ngIf="product" class="container-fluid card my-3 mx-5 fs-5">
    <div class="row g-0">
        <div class="col-md-6 p-3">
            <div class="mb-5" style="max-width: 550px;">
                <img src="{{ product.imageUrl }}" alt="..." class="img-fluid" />
            </div>
            <a type="button" (click)="goBack()" class="link-dark"><i class="fas fa-arrow-left"></i><em> Retour</em></a>
        </div>
        <div class="col-md-6 text-end p-3">
            <div class="card-body m-5">
                <div class="m-3">
                    <h2 class="card-title">{{ product.libelle }}</h2>
                    <h4>{{ product.caracteristiques }}</h4>
                    <h4 class="fw-bold">Prix unitaire : <span>{{ product.prixUnitaire | currency:'EUR'}}</span></h4>
                </div>

                <button *ngIf="product.quantiteStock != 0;else noStock" type="button" class="btn btn-sm m-3"
                    [ngClass]="[buttonText === 'Hop! Au panier!' ? 'btn-light' : 'btn-dark']"
                    (click)="onAddToCart(product)">{{
                    buttonText }}</button>
                    
                <div class="mt-5">
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>

        <ng-template #noStock>
            <div class="text-danger">Produit indisponible</div>
        </ng-template>