<app-hero></app-hero>
<div class="container mt-1 mb-3">
    <!-- SEPARATEUR -->
    <div class="row m-3">
        <div class="col-md-5">
            <hr>
        </div>
        <div class="col-md-2 text-center"><i class="fas fa-angle-double-down"></i></div>
        <div class="col-md-5">
            <hr>
        </div>
    </div>
    <div class="text-center">
        <h1>NOS ARTISTES A LA UNE...</h1>
        <h3>Découvres les artistes du collectif et leurs créations.</h3>
    </div>
</div>
<app-artist-bar *ngFor="let tempArtist of artists" [artist]="tempArtist"></app-artist-bar>