<section class="bg-grey">
    <div *ngIf="cartItems.length > 0;else empty_cart" class="container pt-4">
        <div class="row">

            <!-- Left table -->
            <div class="col-md-8 p-0">
                <table class="table prod-list">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="fw-bold">Produit</th>
                            <th scope="col" class="fw-bold">Quantité</th>
                            <th scope="col" class="fw-bold">Sous-total</th>
                            <th scope="col" class="fw-bold">Supprimer</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let tempCartItem of cartItems">
                        <tr>
                            <td>
                                <div>
                                    <img [src]="tempCartItem.imageUrl" class="img-fluid prod-thumbnail"
                                        alt="{{ tempCartItem.libelle }}">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <h6 class="text-muted">{{ tempCartItem.libelle }}</h6>
                                    <h6 class="text-black mb-0">{{ tempCartItem.caracteristiques}}</h6>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex flex-row">
                                    <button (click)="incrementQuantity(tempCartItem)" class="btn btn-outline-dark px-1 py-0">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <div class="px-2">{{ tempCartItem.quantite }}</div>
                                    <button (click)="decrementQuantity(tempCartItem)" class="btn btn-outline-dark px-1 py-0">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <h6 class="mb-0">{{ tempCartItem.prixUnitaire * tempCartItem.quantite |
                                        currency:'EUR'}}</h6>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a type="button" (click)="remove(tempCartItem)" class="text-muted"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Right table -->
            <div class="col-md-4 p-0">
                <table class="table recap">
                    <thead>
                        <tr>
                            <th scope="col">
                                <h4 class="fw-bold">Récapitulatif commande</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <h6>Articles : <span>{{ totalQuantity }}</span></h6>
                                    <h6>{{ totalPrice | currency:'EUR' }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-0">
                                <h6 class="mb-2">Livraison</h6>
                                <div>
                                    <select class="select">
                                        <option value="1">En magasin - <em>gratuit</em></option>
                                        <option value="2">Standard - <em>2,00 €</em></option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!-- TOTAL -->
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="text-uppercase fw-bold">Total :</h5>
                                    <h5 class=" fw-bold">{{ totalPrice | currency:'EUR' }}</h5>
                                </div>
                                <!-- Paiement -->
                                <a routerLink="/checkout" type="button" class="btn btn-dark btn-block btn-lg"
                                    data-mdb-ripple-color="dark">Payer</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- EMPTY CART MESSAGE -->
    <ng-template #empty_cart>
        <div class="container p-5">
            <div class="card d-flex flex-column align-items-center">
                <i class="fab fa-10x fa-opencart my-5"></i>
                <h2 class="my-5">Votre panier est tristement vide...</h2>
                <div class="pt-5">
                    <h6 class="mb-4">
                        <a type="button" (click)="goBack()" class="text-body">
                            <i class="fas fa-long-arrow-alt-left me-2"></i>Vite ! Faites vos courses !
                        </a>
                    </h6>
                </div>
            </div>
        </div>
    </ng-template>
    <!-- </div> -->
</section>