.select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.bg-grey {
    background-color: #a0a0a0;
}

.recap {
    background-color: #e5e5e5;
}
.prod-list {
    background-color: white;
}

.prod-thumbnail {
    max-width: 88px;
}

@media (min-width: 1025px) {
}

@media (min-width: 992px) {
}

@media (max-width: 991px) {
}