<h4>Vos commandes</h4>
<br>
<table *ngIf="orderHistoryList.length > 0;else no_orders" class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Numéro commande</th>
        <th>Quantité produits</th>
        <th>Prix total</th>
        <th>Date</th>
        <th>Statut commande</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let order of orderHistoryList">
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="text-muted mb-0">{{ order.numeroCommande }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ order.quantiteTotale }}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ order.prixTotal | currency:'EUR' }}</p>
        </td>
        <td>
            <p class="fw-normal mb-1">{{ order.dateCreation | date:'medium' }}</p>
          </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">{{ order.statut }}</span>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- NO ORDERS MESSAGE -->
  <ng-template #no_orders>
    <div class="container p-5">
        <div class="card d-flex flex-column align-items-center">
            <h2 class="my-5">Vous n'avez aucune commande</h2>
            <div class="pt-5">
                <h6 class="mb-4">
                    <a type="button" (click)="goBack()" class="text-body">
                        <i class="fas fa-long-arrow-alt-left me-2"></i>Visitez notre boutique
                    </a>
                </h6>
            </div>
        </div>
    </div>
</ng-template>