<div class="row">
    <div class="col-6 crop">
        <img src="/assets/images/gasoline.jpg" alt="tache gasoil" class="w-100 overflow-hidden img-fluid">
    </div>
    <div class="col-6 d-flex flex-column align-items-center justify-content-center text-muted fw-bold">
        <em><h3>EN CONSTRUCTION</h3></em>
        <br><br>
        <hr class="my-3 w-75">
        <h1>
            <i class="fas fa-quote-left"></i> Tout arrive à qui sait attendre ! <i class="fas fa-quote-right"></i>
        </h1>
    </div>
</div>