<div class="container col-xxl-10 pt-5 pb-0">
    <div class="row flex-lg-row-reverse align-items-center g-3">
      <div class="col-lg-7">
        <img src="/assets/images/hero1_img.jpg" class="d-block mx-lg-auto img-fluid" width="100%" alt="Collectif Lôcal" loading="lazy">
      </div>
      <div class="col-lg-5">
        <h1 class="display-5 fw-bold lh-1 mb-3">Bienvenu dans la boutique du collectif "Lôcal Saint-Denis" !</h1>
        <p class="lead">Peintres, sérigraphes, designers, sculpteurs en bois ou en métal, créateurs de collages ou de bijoux,
            les artistes-artisans du collectif et leurs invités vous attendent dans un espace unique, pour se
            présenter et vous montrer leurs créations.</p>
      </div>
    </div>
  </div>