.cart-area.d-n{
    display:block
}

.cart-area i{
    font-size:22px;
    float:left;
    margin-top:8px;
    margin-left:15px
}
.total{
    background:#205b8d;
    color:#fff;
    border-radius:30px;
    border:1px solid #205b8d;
    float:left;
    margin-top:11px;
    padding-left:17px
}

.total span{
    display:inline-block;
    background:#fff;
    padding:0 13px;
    color:#000;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    margin-left:11px
}

@media (min-width:992px) and (max-width:1199px){
    .cart-area i{
        font-size:22px;
        float:left;
        margin-top:11;
        color:#205b8d;
        margin-left:15px
    }
}

@media (max-width:991px){
    .total{
        display:none
    }
    .cart-area i{
        font-size:22px;
        float:left;
        margin-top:11;
        color:#205b8d;
        margin-left:15px
    }
}

@media (max-width:767px){
    .cart-area i{
        font-size:22px;
        float:left;
        margin-top:11;
        color:#205b8d;
        margin-left:15px
    }
    .cart-area.d-b{
        display:block
    }
    .total{
        display:none
    }
    .total span{
        display:inline-block;
        background:#fff;
        padding:0 10px;
        color:#000;
        border-top-right-radius:20px;
        border-bottom-right-radius:20px;
        margin-left:6px
    }
    .total{
        background:#205b8d;
        line-height:30px;
        color:#fff;
        border-radius:30px;
        border:1px solid #205b8d;
        float:left;
        margin-top:11px;
        padding-left:12px
    }

}