<div class="container mb-5">

  <div class="container pt-5 pb-0">
    <div class="row flex-lg-row align-items-center g-3">
      <div class="col-lg-4 overflow-hidden">
        <img src="/assets/images/Unica7.jpg" class="crop d-block mx-lg-auto img-fluid" alt="Unica series" loading="lazy">
      </div>
      <div class="col-lg-8">
        <h3 class="display-5 fw-bold lh-1 mb-3">Un collectif...</h3>
        <p class="lead">Nous sommes peintres, sérigraphes, designers, nous sculptons le bois et le métal, nous 
          créons des collages uniques et des bijous en matériaux naturels ou recyclés, nous imaginons 
          des messages déjantés que nous imprimons sur des objets, nous créons des objets inédits avec
          une imprimante 3-D.<br>
          Mais surtout, nous habitons et travaillons tous à Saint-Denis, nous créons parfois des oeuvres communes 
          et présentons nos exploits ensemble dans les galleries de la ville. Nous sommes une famille et 
          nous avons souhaité "officialiser" notre union devant vous : ainsi naquit le collectif "Lôcal Saint-Denis"</p>
      </div>
    </div>
  </div>

  <div class="container pt-5 pb-0">
    <div class="row flex-lg-row align-items-center g-3">
      <div class="col-lg-4 overflow-hidden">
        <img src="/assets/images/shopp4.jpg" class="crop d-block mx-lg-auto img-fluid" alt="magasin" loading="lazy">
      </div>
      <div class="col-lg-8">
        <h3 class="display-5 fw-bold lh-1 mb-3">Un magasin éphémère...</h3>
        <p class="lead">2021 - la ville de Saint-Denis et Plaine Commune créent <em class="fw-bold">Ilôt shop</em>, 
          un dispositif de soutien pour des projets commerciaux innovants. Plusieurs boutiques ont ainsi 
          pu voir le jour à côté du métro Basilique à Saint-Denis. En février 2022 nous avon inauguré le 
          <span class="fw-bold">"Lôcal Saint-Denis"</span>, notre boutique collective, pour vous présenter 
          nos créations pièces uniques et hyper locales : objets, luminaires, bijoux, illustrations, vêtements... 
          créées par nous-mêmes et nos invités venus de toute l'Ile-de-France.</p>
      </div>
    </div>
  </div>

  <div class="container pt-5 pb-0">
    <div class="row flex-lg-row align-items-center g-3">
      <div class="col-lg-4 overflow-hidden">
        <img src="/assets/images/tables2.jpg" class="crop d-block mx-lg-auto img-fluid" alt="tables sérigrahiés" loading="lazy">
      </div>
      <div class="col-lg-8">
        <h3 class="display-5 fw-bold lh-1 mb-3">Une e-boutique...</h3>
        <p class="lead">Vous voulez jeter un coup d'oeil avant de venir à Saint-Denis ? Faites un tour sur notre site ! 
          Vous pourriez apprendre à quel moment nous trouver au magasin, mais aussi ailleurs, lors d'expositions et 
          autres évènements artistiques locaux et régionaux. Vous pouvez aussi voir un peu nos têtes et explorer 
          nos créations avant de venir nous rencontrer en vrai. Et oui ! vous pouvez même faire vos emplettes d'objets 
          que vous ne trouverez pas forcément en magasin !</p>
      </div>
    </div>
  </div>

</div>